* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
  }

@font-face {
    font-family: 'Space Grotesk';
    src: url(assets/fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Outfit Regular';
    src: url(assets/fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: 'Outfit Semibold';
    src: url(assets/fonts/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: 'Outfit Bold';
    src: url(assets/fonts/Outfit-Bold.ttf);
}

body {
    background-color: #FFF0E5;
}

h1, h2, h3, h4 {
    font-family: 'Space Grotesk';
    color: #070E2B;
}

p, a {
    font-family: 'Outfit Regular';
    color: #070E2B;
}


/* NAV STYLES */
#navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

#nav-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-link {
    font-family: 'Outfit Regular';
    font-size: 18px;
    color: #6A6875;
    transition: 0.3s;
}

.nav-link:hover {
    color: #070E2B;
}


/* ABOUT STYLES */
#about-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 95px 0px 95px 0px;
}

.about-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content {
    width: 50%;
}

.about-content h2 {
    font-size: 64px;
}

.about-content p {
    font-size: 20px;
    margin-bottom: 18px;
}

.about-wrapper img {
    width: 40%;
}

.bolder {
    font-family: 'Outfit Bold';
    color: #070E2B;
}

.button-row {
    justify-content: flex-start;
}

/* FOOTER STYLES */
#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070E2B;
    padding: 75px 0px 75px 0px;
}

.footer-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-wrapper p {
    font-size: 16px;
    color: #FFF0E5;
    max-width: 400px;
    text-align: center;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-link-container a {
    color: #FFD300;
}

.footer-link-container p {
    color: #FFF0E5;
}