* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
  }

@font-face {
    font-family: 'Space Grotesk';
    src: url(assets/fonts/SpaceGrotesk-Bold.ttf);
}

@font-face {
    font-family: 'Outfit Regular';
    src: url(assets/fonts/Outfit-Regular.ttf);
}

@font-face {
    font-family: 'Outfit Semibold';
    src: url(assets/fonts/Outfit-SemiBold.ttf);
}

body {
    background-color: #FFF0E5;
}

h1, h2, h3, h4 {
    font-family: 'Space Grotesk';
}

p, a {
    font-family: 'Outfit Regular';
}


/* NAV STYLES */
#navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

#nav-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-link {
    font-family: 'Outfit Regular';
    font-size: 18px;
    color: #6A6875;
    transition: 0.3s;
}

.nav-link:hover {
    color: #070E2B;
}


/* HERO SECTION STYLES */
#hero-section {
    width: 100%;
    display: flex;
    justify-content: center; 
    padding: 85px 0px 85px 0px;
}

.hero-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
}

.hero-wrapper h1 {
    font-size: 85px;
    color: #070E2B;
    text-align: center;
    height: 100px;
}

.hero-wrapper p {
    font-size: 26px;
    color: #070E2B;
    text-align: center;
    margin-bottom: 18px;
}

.button-row {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.my-btns {
    font-family: 'Outfit Semibold';
    font-size: 18px;
    color: #3A10E5;
    background-color: #FFF0E5;
    border: 2px solid #3A10E5;
    border-radius: 5px;
    padding: 18px 37px 18px 37px;
    transition: 0.4s;
}

.my-btns:hover {
    background-color: #3A10E5;
    color: #FFF0E5;
}

/* PROJECT SECTION STYLES */
#projects-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-wrapper {
    width: 100%;
    max-width: 1180px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}

.grid-item {
    border: 2px solid #070E2B;
    border-radius: 7px;
    padding: 42px 33px 42px 33px;
}

.grid-item h2 {
    font-size: 48px;
    color: #070E2B;
}

.grid-item h3 {
    font-size: 36px;
    color: #070E2B;
}

.grid-item p {
    font-size: 20px;
    color: #070E2B;
}


/* REACH OUT SECTION STYLES */
#reach-out-section {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 150px 0px 150px 0px;
}

.reach-out-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reach-out-wrapper h2 {
    font-size: 48px;
}

.reach-out-wrapper p {
    font-size: 36px;
    font-family: 'Outfit Semibold';
    color: #3A10E5;
}


/* FOOTER STYLES */
#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070E2B;
    padding: 75px 0px 75px 0px;
}

.footer-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-wrapper p {
    font-size: 16px;
    color: #FFF0E5;
    max-width: 400px;
    text-align: center;
}

.footer-link-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.footer-link-container a {
    color: #FFD300;
}

.footer-link-container p {
    color: #FFF0E5;
}