/* CERT SECTION STYLES */
#cert-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cert-content-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0px 100px 0px;
}

.cert-content-wrapper h1 {
    font-size: 64px;
}

.cert-content-wrapper p {
    font-size: 20px;
    margin-bottom: 18px;
}