#certificates-section {
    width: 100%;
    display: flex;
    padding: 90px 0px 90px 0px;
}

.certificates-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.certificates-wrapper h1 {
    font-size: 64px;
}

.certificates-wrapper p {
    font-size: 18px;
}