#chefsy-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 90px 0px 90px 0px;
}

.project-hero {
    width: 100%;
    height: 608px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/chefsy-bg-image.png);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    border-radius: 8px;
}

.project-hero h1 {
    font-size: 128px;
}


/* PROJECT BREAKDOWN STYLES */
.project-breakdown {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 2px solid #070E2B;
    border-radius: 5px;
    padding: 30px 53px 30px 53px;
    margin: 50px 0px 50px 0px;
}

.project-breakdown div p:nth-child(1) {
    font-size: 24px;
    font-family: 'Outfit Semibold';
}

.project-breakdown div p:nth-child(2) {
    font-size: 18px;
}


/* PROBLEM SOLUTION SECTION */
.problem-solution-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-bottom: 95px;
}

.problem, .solution {
    display: flex;
    flex-direction: column;
}

.solution h2, .solution p {
    text-align: end;
}

.problem h2, .solution h2 {
    font-size: 40px;
}

.problem p, .solution p {
    font-size: 18px;
}


/* MAIN PROJECT IMAGE SECTION */
.main-project-img {
    width: 100%;
    display: flex;
}

.main-project-img img {
    width: 100%;
}