/* PROJECT HERO STYLES */
#project-page-hero {
    width: 100%;
    margin: 90px 0px 52px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-hero-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 608px;
    max-width: 1180px;
    background-image: url(../images/chefsy-bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    font-family: 'Space Grotesk';
    font-size: 128px;
    color: #070E2B;
    text-align: center;
}

#project-breakdown {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;
}

.breakdown-container {
    width: 100%;
    max-width: 1180px;
    display: flex;
    justify-content: space-between;
    padding: 36px 59px 36px 59px;
    background-color: white;
    border: 2px solid #070E2B;
    border-radius: 3px;
}

.breakdown-item p:nth-child(1) {
    font-size: 24px;
    font-family: 'Outfit Semibold';
}

.breakdown-item p:nth-child(2) {
    font-size: 20px;
}

#problem-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 95px;
}

.problem-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.solution-wrapper {
    width: 100%;
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 60px;
}

.problem-wrapper h2, .solution-wrapper h2 {
    font-size: 40px;
}

.problem-wrapper p, .solution-wrapper p {
    font-size: 22px;
}