* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none; 
    text-decoration: none;
  }


/* GENERAL STYLES */
body {
    background-color: #FFF0E5;
}

h1, h2, h3, h4 {
    font-family: 'Space Grotesk';
    color: #070E2B;
}

p, a, span {
    font-family: 'Outfit';
    color: #070E2B;
}

.btn-group {
    display: flex;
    gap: 8px;
}

.primary-btn {
    background-color: transparent;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 18px;
    color: #3A10E5;
    border: 2px solid #3A10E5;
    border-radius: 6px;
    padding: 18px 37px 18px 37px;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #3A10E5;
    color: #FFF0E5;
}

.bold {
    font-family: 'Outfit';
    font-weight: 600;
}

.external-link {
    font-size: 18px;
    color: #3A10E5;
    transition: 0.3s;
}

.external-link:hover {
    color: #260B92;
}


/* NAV STYLES */
#nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px 15px 80px;
}

.nav-links {
    display: flex;
    gap: 12px;
}

.nav-link {
    font-size: 18px;
    color: #6A6875;
    transition: 0.3s;
}

.nav-link:hover {
    color: #070E2B;
}


/* SECTIONS WRAPPER STYLES */
.sections-wrapper {
    padding: 0px 80px 0px 80px;
}


/* HERO STYLES */
#hero-section {
    width: 100%;
    display: flex;
    padding: 90px 0px 90px 0px;
}

.hero-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.hero-wrapper h1 {
    font-size: 85px;
    height: 90px;
    text-align: center;
}

.hero-wrapper p {
    font-size: 26px;
    text-align: center;
}


/* PROJECT SECTION STYLES */
#projects-section {
    width: 100%;
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 12px;
}
.grid-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #070E2B;
    border-radius: 7px;
    padding: 42px 33px 42px 33px;
    transition: 0.3s;
}

.grid-item:hover {
    background-color: #F4E7DD;
}

.grid-item h2 {
    font-size: 48px;
}

.grid-item h3 {
    font-size: 36px;
}

.grid-item p {
    font-size: 20px;
}


/* REACH OUT STYLES */
#reach-out-section {
    width: 100%;
    display: flex;
    padding: 150px 0px 150px 0px;
}

.reach-out-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reach-out-wrapper h2 {
    font-size: 48px;
    text-align: center;
}

.reach-out-wrapper p {
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 36px;
    color: #3A10E5;
    text-align: center;
}


/* FOOTER STYLES */
#footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #070E2B;
    padding: 80px 0px 80px 0px;
}

.footer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.footer-wrapper p {
    font-size: 18px;
    color: #F4E7DD;
    text-align: center;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.footer-links a {
    color: #FFD300;
    text-decoration: underline;
    font-size: 16px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #B79800;
}

.footer-links p {
    color: #F4E7DD;
    font-size: 16px;
}










/* MEDIA QUERIES */
  @media screen and (max-width: 767px) {

    #nav {
        display: none;
    }

    /* MOBILE BUTTON STYLES */
    .btn-group {
        display: flex;
        flex-wrap: wrap;
    }
    
    .primary-btn {
        font-size: 16px;
        padding: 18px 37px 18px 37px;
    }

    /* MOBILE HERO STYLES */
    .hero-wrapper h1 {
        font-size: 65px;
        line-height: 85%;
        height: auto;
    }
    
    .hero-wrapper p {
        font-size: 20px;
    }


    /* MOBILE PROJECTS SECTION STYLES */
    .grid-container {
        grid-template-columns: auto;
    }

    .grid-item h2 {
        font-size: 38px;
    }
    
    .grid-item h3 {
        font-size: 26px;
    }
    
    .grid-item p {
        font-size: 16px;
    }


    /* MOBILE REACH OUT SECTION STYLES */
    .reach-out-wrapper h2 {
        font-size: 38px;
    }
    
    .reach-out-wrapper p {
        font-size: 28px;
    }


    /* MOBILE FOOTER STYLES */
    .footer-wrapper p {
        font-size: 16px;
    }

    /* MOBILE SECTIONS WRAPPER STYLES */
    .sections-wrapper {
    padding: 0px 25px 0px 25px;
    }
    
  }